body {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(167, 197, 241);
    font-size: 3rem;
    margin: 10px 0;
}

p {
    display: flex;
    justify-content: center;
    color: rgb(92, 185, 221);
    font-size: 1.2rem;
    margin: 5px 0;
}

#word-container {
    display: flex;
    justify-content: center;
    color: rgb(131, 145, 209);
    font-size: 2rem;
    margin: 20px 0;
}

#flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 700px;
}

.hangman-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-start;
    margin: 20px 0;
    max-width: 300px;
}

#keyboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: center;
    gap: 5px;
    margin: 150px 50px;
    height: 40px;
}

#message-container {
    display: flex;
    justify-content: center;
    color: rgb(4, 255, 213);
    font-size: 1.2rem;
    margin: 10px 0;
}

#hint-container {
    display: flex;
    justify-content: center;
    color: #00ff2a;
    font-size: 2rem;
    margin: 10px 0;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}